- if @price
  .alert.alert-success
    Nice, you can afford a
    = number_to_currency @price, precision: 0
    house
- else
  .alert.alert-danger
    Sorry, we couldn't generate the estimate. Please try again later.
